body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;

}
.title{
    position: absolute;
    z-index: 1;
    font-size: 3rem;
    color: white;
    margin-bottom: 260px;
    font-family: "Great Vibes", serif;
}


img {
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;
    
  }


.clock {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 150px;
  color: white;
  animation: move 10s infinite;
  position: absolute;
}
