* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  background-color: #302c42;
  font-family: "Montserrat", serif;
}
.container {
  width: 100%;
  max-width: 1580px;
  padding: 30px 68px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
li a {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}
.header_items_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header_items_logo :nth-child(1) {
  margin-right: 4px;
}
.header_items_logo img {
  width: 35%;
}
.header_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_items_menu {
  display: flex;
}
.header_items_menu ul {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
.header_items_button {
  display: flex;
}
.button_left {
  color: white;
  border-radius: 24px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
  font-size: 0.8rem;
  width: 135px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-weight: 500;
}
.button_right {
  background-color: #c0b7e8;
  color: #343045;
  border-radius: 24px;
  cursor: pointer;
  width: 135px;
  height: 40px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.hamburger_menu_icon {
  display: none;
}

.advertising {
  display: flex;
  align-items: center;
  z-index: 1;
}
.image {
  background-image: url(photo/Lines-Transparent-Images.png);
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 800px;
  z-index: 0;
  position: absolute;
}
.advertising_info {
  display: flex;
  flex-direction: column;
}
.button_arrow {
  display: flex;
}
.arrow_icon {
  margin-left: 30px;
  justify-content: center;
  display: flex;
  margin-top: 3px;
}
.arrow_icon img {
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advertising_info h3 {
  font-size: 3rem;
  color: white;
  z-index: 1;
}
.advertising_info h3 span {
  background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  color: transparent;
  background-clip: text;
}
.advertising_info p {
  color: white;
  margin: 40px 0 45px 0;
  width: 60%;
}
.advertising_button {
  width: 27%;
  height: 44px;
  border-radius: 26px;
  border-style: none;
  font-size: 0.7rem;
  color: #343045;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  font-weight: 750;
}
.advertising_banner {
  display: flex;
  margin-top: 50px;
}
.advertising_img {
  position: relative;
  width: 420px;
}
.advertising_img_background {
  position: absolute;
  margin-top: 12px;
  margin-left: 10px;
  width: 400px;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  background: radial-gradient(
    50% 2900.76% at 50% 53.89%,
    rgba(58, 52, 86, 0.95) 0%,
    #211e2e 100%
  );
  padding: 35px;
  border-radius: 90px;
  margin-top: 50px;
  font-size: 0.8rem;
  height: 150px;
}
.left_right_icon {
  display: none;
}
.contact .contact_location {
  border-right: 2px solid #c0b7e854;
  padding-right: 15px;
}
.contact .contact_call {
  border-right: 2px solid #c0b7e854;
  padding-right: 35px;
}
.contact h3 {
  margin-bottom: 7px;
  font-size: 1.3rem;
}
.contact p {
  font-weight: 350;
}
.contact img {
  margin-right: 25px;
}
.contact_location {
  display: flex;
  width: 31%;
  justify-content: center;
  align-items: center;
}
.contact_location img {
  width: 10%;
}
.contact_call {
  display: flex;
  width: 31%;
  justify-content: center;
  align-items: center;
}
.contact_call img {
  width: 13%;
}
.contact_message {
  display: flex;
  width: 31%;
  justify-content: center;
  align-items: center;
}
.contact_message img {
  width: 14%;
}

.introduction_title {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}
.introduction_title_left h2 {
  font-size: 1.9rem;
  color: white;
}
.introduction_title_left h3 {
  font-size: 1.9rem;
  font-weight: 200;
  color: white;
}
.introduction_title_left img {
  margin-bottom: -35px;
}
.introduction_title_left {
  display: flex;
  align-items: center;
}
.introduction_title_right {
  width: 50%;
  line-height: 20px;
  font-size: 0.8rem;
  color: white;
}

.about_hydra {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_hydra_img img {
  width: 404px;
  height: 437px;
}
.about_hydra_title {
  width: 57%;
}
.about_hydra_title h2,
h3,
p {
  color: white;
}
.about_hydra_title p {
  margin: 35px 0 35px 0;
  font-size: 0.8rem;
  line-height: 20px;
}
.about_hydra_title h2 {
  font-size: 1.9rem;
  color: white;
}
.about_hydra_title h3 {
  font-size: 1.9rem;
  font-weight: 200;
  color: white;
}
.about_hydra_button {
  width: 33%;
  height: 44px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  font-size: 0.7rem;
  font-weight: 750;
  color: #343045;
}
.why_build_title {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
.why_build_title_left h2 {
  font-size: 1.9rem;
  color: white;
}
.why_build_title_left h3 {
  font-size: 1.9rem;
  font-weight: 200;
  color: white;
}
.why_build_title_left img {
  margin-bottom: -35px;
  margin-left: 35px;
}
.why_build_title_left {
  display: flex;
  align-items: center;
}
.why_build_title_right {
  width: 50%;
  line-height: 20px;
  font-size: 0.8rem;
  color: white;
}

.development_steps {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.development_step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  margin-top: 60px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.simulation_left_right_icon {
  display: none;
}
.development_step p {
  text-align: center;
}
.development_step_photo {
  width: 150px;
  height: 150px;
  border: 10px solid #0e0e0e52;
  border-radius: 50%;
}
.development_step_photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.development_step p {
  font-size: 0.7rem;
  line-height: 17px;
  margin: 25px 0 25px 0;
}
.development_step button {
  margin-bottom: 15px;
  width: 60%;
  height: 35px;
  border-radius: 40px;
  border: none;
  font-size: 0.6rem;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #343045;
  font-weight: 600;
}
.development_step h2 {
  margin: 15px 0 15px 0;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.technologies_hardware {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.technologies_hardware_background {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 18px;
}
.technologies_hardware_background img {
  width: 100%;
  border-radius: 200px;
  height: 230px;
  object-fit: cover;
}
.technologies_hardware_title {
  position: absolute;
  line-height: 35px;
  color: white;
}
.technologies_hardware_title h3 {
  font-weight: 300;
  font-size: 1.5rem;
}
.technologies_hardware_brand {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 20px;
}

.build_title {
  display: flex;
  justify-content: space-between;
}
.build_title_left h2 {
  font-size: 1.9rem;
  color: white;
}
.build_title_left h3 {
  font-size: 1.9rem;
  font-weight: 200;
  color: white;
}
.build_title_left img {
  margin-bottom: -40px;
  margin-left: 35px;
}
.build_title_left {
  display: flex;
  align-items: center;
}
.build_title_right {
  width: 50%;
  line-height: 20px;
  font-size: 0.8rem;
  color: white;
}

.hydra_process {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.hydra_process h1 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #bbb;
}

.process_steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 89%;
}
.step_first {
  text-align: center;
}
.step_first p {
  font-size: 14px;
  color: #ccc;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.step {
  text-align: center;
}

.circle {
  width: 115px;
  height: 115px;
  background: linear-gradient(251.27deg, #c0b7e8 0%, #8176af 0%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto 10px;
  color: #343045;
  border: 10px solid #00000052;
  border-image: none;
}

.step p {
  font-size: 14px;
  color: #ccc;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.join_hydra {
  width: 100%;
  height: 750px;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  text-align: center;
  color: white;
  border-radius: 70px;
}
.join_hydra img {
  margin: 20px 0 20px 0;
}
.join_hydra h3 {
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 1.5rem;
}
.join_hydra h2 {
  padding-top: 60px;
}

.first_table input {
  padding: 14px;
  width: 40%;
  border-radius: 20px;
  border: 1.5px solid white;
  margin: 10px;
  background: none;
  color: white;
  outline: none;
}
.second_table input {
  width: 82.4%;
  border-radius: 20px;
  border: 1.5px solid white;
  padding: 14px;
  margin: 13px;
  background: none;
  color: white;
  outline: none;
}
.third_table textarea {
  max-width: 82.4%;
  width: 82.4%;
  height: 150px;
  max-height: 200px;
  border-radius: 40px;
  border: 1.5px solid white;
  padding: 14px;
  margin: 13px;
  background: none;
  color: white;
  outline: none;
}
.hydra_table_button {
  width: 15%;
  height: 40px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border: none;
  border-radius: 40px;
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 25px;
}

.services {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services p {
  font-size: 0.8rem;
  font-weight: 600;
}
.footer_logo {
  width: 25%;
}
.footer_vector {
  margin-right: 60px;
}
.footer_about {
  width: 25%;
  line-height: 35px;
}
.footer_faq {
  width: 25%;
  line-height: 35px;
}
.footer_sosial {
  width: 25%;
}
.sosial_logo_button {
  width: 60%;
  height: 38px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border: none;
  border-radius: 40px;
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 5px;
}
.sosial_logo {
  margin: 30px 0 30px 0;
}
.sosial_logo img {
  margin: 2px;
}
.footer_line {
  width: 100%;
  margin: 30px 0 30px 0;
}
.container h5 {
  color: white;
  font-weight: 600;
}

/*Header responsive start*/

@media screen and (max-width: 768px) {
  .header_items_menu {
    display: none;
  }
  .header_items_button {
    display: none;
  }
  .container {
    padding: 0 15px;
  }
  body,
  html {
    padding-top: 11px;
    padding-left: 0;
    background-color: #302c42;
    font-family: "Montserrat", serif;
    height: 2000px;
  }
  .header_items_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .hamburger_menu_icon {
    display: initial;
  }

  /*Header responsive finished*/

  /*Advertising responsive start*/

  .advertising {
    display: flex;
    align-items: center;
    z-index: 1;
    flex-direction: column-reverse;
  }
  .advertising_img {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
  }
  .advertising_img_background {
    position: absolute;
    width: 90%;
  }
  .advertising_info p {
    display: none;
  }
  .advertising_info h3 {
    font-size: 2rem;
    color: white;
    z-index: 1;
    text-align: center;
  }
  .image {
    width: 100%;
  }
  .arrow_icon {
    display: none;
  }
  .button_arrow {
    display: flex;
    justify-content: center;
  }
  .advertising_button {
    width: 85%;
    height: 50px;
    margin-top: 28px;
  }

  /*Advertising responsive finished*/

  /*Contact and introduction responsive start*/

  .contact {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left_right_icon {
    display: initial;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    margin-left: 10px;
  }
  .contact_call {
    display: none;
  }
  .contact_message {
    display: none;
  }
  .contact_location {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contact_location h3 {
    display: none;
  }
  .contact_location p {
    width: 90%;
    line-height: 20px;
  }
  .contact .contact_location {
    border-right: 0;
  }
  .contact_location img {
    width: 20%;
    margin-left: 18px;
    padding-left: 20px;
  }
  .introduction_title_left img {
    display: none;
  }
  .introduction_title_right {
    display: none;
  }
  .introduction_title_left {
    display: flex;
    text-align: center;
  }
  .introduction_title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  /*Contact and introduction responsive finished*/

  /*About and build responsive start*/

  .about_hydra {
    display: flex;
    flex-direction: column;
  }
  .about_hydra_img img {
    width: 100%;
    height: 407px;
  }
  .about_hydra_title h2 {
    display: none;
  }
  .about_hydra_title h3 {
    display: none;
  }
  .about_hydra_title {
    width: 91%;
  }
  .about_hydra_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
  }

  .about_hydra_title p {
    text-align: center;
  }
  .about_hydra_button_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .why_build_title_left img {
    display: none;
  }
  .why_build_title_right {
    display: none;
  }
  .why_build_title_left {
    display: flex;
    text-align: center;
  }
  .why_build_title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  /*About and build responsive finished*/

  /*Development and simulation responsive start*/

  .development_step {
    display: none;
  }
  .step_one {
    display: initial;
    display: flex;
    margin: auto;
    width: 85%;
    background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 30px;
    justify-content: center;
  }
  .step_one p {
    font-size: 0.8rem;
  }

  .simulation_left_right_icon {
    display: initial;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px;
  }
  .simulation_left {
    height: 70px;
    width: 70px;
    color: white;
    border-radius: 50%;
    border: 9px solid #211e2e;
    background: linear-gradient(90deg, #4f4773 0%, #c0b7e8 100%);
  }
  .simulation_right {
    border-radius: 50%;
    border: 9px solid #211e2e;
    background: linear-gradient(90deg, #69608e 0%, #c0b7e8 100%);
    height: 70px;
    width: 70px;
  }
  .simulation_left img {
    width: 94%;
  }
  .simulation_right img {
    width: 94%;
    margin-left: 3px;
  }
  .development_step button {
    width: 75%;
    height: 43px;
  }

  /*Development and simulation responsive finished*/

  /*Technologies and hardware responsive start*/

  .technologies_hardware_background img {
    width: 100%;
    border-radius: 200px;
    height: 160px;
    object-fit: cover;
  }
  .technologies_hardware_background {
    margin-top: 40px;
  }

  .technologies_hardware_title h3,
  h2 {
    font-size: 1.2rem;
  }
  .technologies_hardware_brand img {
    display: none;
    margin: 0;
  }
  .technologies_hardware_brand {
    display: 100%;
    display: flex;
    justify-content: center;
  }
  .technologies_hardware_brand .last_brand {
    display: initial;
    display: flex;
  }
  .build_title_left img {
    display: none;
  }
  .build_title_right {
    display: none;
  }
  .build_title_left {
    display: flex;
    text-align: center;
  }
  .build_title {
    display: flex;
    justify-content: center;
  }

  /*Technologies and hardware responsive finished*/

  /*Step-circle responsive start*/

  .step {
    display: none;
  }
  .step_first {
    display: initial;
    width: 100%;
  }
  .circle {
    width: 215px;
    height: 215px;
    border: 17px solid #00000052;
    font-size: 3rem;
  }
  .step_first p {
    font-size: 1.5rem;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  /*Step-circle responsive finished*/

  /*Join-hydra responsive start*/

  .first_table input {
    width: 80%;
    margin: 8px;
    padding: 15px;
  }
  .join_hydra {
    width: 90%;
    border-radius: 40px;
    margin: auto;
    height: 850px;
  }
  .third_table textarea {
    padding: 16px;
    border-radius: 30px;
    margin: 10px;
    height: 150px;
  }
  .second_table input {
    width: 80%;
    margin: 9px;
    padding: 15px;
  }
  .hydra_table_button {
    width: 80%;
    color: #211e2e;
  }

  .join_hydra img {
    width: 100%;
  }

  /*Join-hydra responsive finished*/

  /*Services and footer responsive start*/

  .services {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_vector {
    display: none;
  }
  .footer_about {
    display: none;
  }
  .footer_faq {
    display: none;
  }
  .footer_logo {
    width: 100%;
    text-align: center;
    margin-top: 35px;
  }
  .footer_sosial {
    width: 100%;
    text-align: center;
  }
  .sosial_logo_button {
    color: #211e2e;
  }
  .container h5 {
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
  }
}

/*Services and footer responsive finished*/
