*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 90%;
    background-color: white;
}

i{
    font-size: 24px;
}

.h1{
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;
}

p{
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(46, 46, 46);
}
.maincontainer{ 
    width: 100%;
}

.maincontainer_box{
    width: 100%;
    text-align: center;
}

.priceboxleft{
    text-align: center;
    margin-right: 10px;
    width: 250px;
    height: 400px;
    display: inline-block;
    border-radius: 5px;
}
.priceboxcenter{
    text-align: center;
    box-shadow: 0px 0px 39px -7px rgba(0,0,0,0.33);
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    height: 400px;
    display: inline-block;
}
.priceboxright{
    border-radius: 5px;
    margin-right: 10px;
    background-color: white;
    width: 250px;
    height: 400px;
    display: inline-block;
}

.button_left{
    font-size: 13px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: none;
    border-radius: 20px;
    width: 120px;
    height: 38px;
    background-color: rgb(214, 8, 8);
    cursor: pointer;
    margin-top: 20px;
}
.button_center{
    color: white;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: none;
    border-radius: 20px;
    width: 120px;
    height: 38px;
    background-color: rgb(0, 196, 81);
    margin: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.button_right{
    font-size: 13px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: none;
    border-radius: 20px;
    width: 120px;
    height: 38px;
    background-color: rgb(2, 149, 207);
    margin: 5px;
    cursor: pointer;
    margin-top: 20px;

}
ul {
    margin-block: 35px;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(46, 46, 46);
}
ul li {
margin-block: 10px;
}