*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f8fe;
}

.main{
    text-align: center;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.call_action_container{
    width: 450px;
    height: 165px;
    background-color:#3657cd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    font-size: 0;
}
.call_action_container_shadow{
    width: 472px;
    height: 187px;
    background-color: #dde5f9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    font-size: 0;
}

.contact_profile {

    margin-left: 72px;
    font-size: 0;
    position: absolute;
    top: 150px;
}

.contact_profile img {
    box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.75);
    border-radius: 25px;
    border: 4px solid #ffffff;
    margin: 10px;
    width: 45px;
    height: 45px;
}

h2{
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: white;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-top: 5px;
    color: white;
    text-align: center;
}


