body{
    background-color: gray;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    background-color: white;
    width: 500px;
    height: 500px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 70px;
    align-items: center;
}
.mainInput{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.mainOne{
    display: flex;
    flex-direction: column;
    width: 80px;
}
.mainTwo{
    display: flex;
    flex-direction: column;
    width: 80px;
}
.mainThree{
    display: flex;
    flex-direction: column;
    width: 80px;
}
input{
    height: 30px;
    border-radius: 2px;
}
.line{
    width: 80%;
    height: 1px;
    background-color: black;
}
.sendButton{
    display: flex;
    padding: 10px;
    border: none;
    background-color: rgb(32, 141, 38);
    color: white;
}
.resultTab{
    color: black;
}
.formInput{
    display: flex;
    flex-direction: row;
    gap: 40px;
}