@media screen and (max-width: 768px) {
.header{
    width: 100%;
}
.mainDiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact{
    display: flex;
}.title{
    font-size: 2rem;
}
.emart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubar img{
    width: 2rem;
    height: 2rem;
}
.person_icon{
    width: 2rem;
    height: 2rem;
}
.person_icon2{
    width: 2rem;
    height: 2rem;
}
.emart_photo{
    width: 2rem;
    height: 2rem;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url(photo/pexels-melvinwahlin-2433353.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


}


.sidebar{
    top: 0;
    left: 0;
    width: 270px;
    z-index: 999;
    box-shadow: -10 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu{
    height: 100%;
    position: absolute;
    left: -1050px;
    top: 0px;
    background-color: white;
    font-size: 1.3rem;
}
.menu ul{
    position: relative;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    gap: 25px;
    list-style: none;
}

.active{
    left: 0px;
}
.search{
    background-color: red;
    color: black;
}